<a href="https://colab.research.google.com/github/ypapay/CUK/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_3%EC%A3%BC%EC%B0%A8_210920.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 머신러닝 3주차
## 프로그램 구조 익숙해지기

### 1.5.1 IF문 활용하기

In [1]:
# Lesson 1.5.1

num = int(input('판별할 숫자를 입력하세요 : '))
if num > 0 :
  print('입력한 숫자는 양수입니다.')

num2 = int(input('판별할 숫자를 더 입력하세요 : '))
if num2 > 0 :
  print('입력한 숫자는 양수입니다.')
else :
  print('입력한 숫자는 0 또는 음수입니다.')

num3 = int(input('판별할 숫자를 또 입력하세요 : '))
if num3 > 0 :
  print('입력한 숫자는 양수입니다.')
elif num3==0 :
  print('입력한 숫자는 0입니다.')
else :
  print('입력한 숫자는 음수입니다.')

판별할 숫자를 입력하세요 : 1
입력한 숫자는 양수입니다.
판별할 숫자를 더 입력하세요 : -2
입력한 숫자는 0 또는 음수입니다.
판별할 숫자를 또 입력하세요 : -2
입력한 숫자는 음수입니다.

### 1.6.2 논리연산자 : and, or, not

In [3]:
# Lesson 1.6.2

x = 11
y = 2

print(x > 10)
print(y <= 5)
print(x + y == 14)
print(x % 3 == 0)
print(y % 3 != 0)
print(x > 10 and y <= 5)
print(x > 10 and x + y == 14)
print(x > 10 or x + y ==14)

True
True
False
False
True
True
False
True

### 2.3 for문의 문법

In [4]:
#2.3.1

for i in range(5):
  print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

### 2.4 for문의 활용

In [8]:
#2.4.1

sum = 0
for i in range(1,6) :
  sum += i
  print('i의 값 : %d, 합계 : %d' % (i, sum))

i의 값 : 1, 합계 : 1
i의 값 : 2, 합계 : 3
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 10
i의 값 : 5, 합계 : 15

In [9]:
#2.4.2

for i in range(1, 10, 2) :
  print(i, end = ' ')
print()
for i in range(20, 0, -2) :
  print(i, end = ' ')

1 3 5 7 9
20 18 16 14 12 10 8 6 4 2

In [10]:
#2.4.3

word = input('세로로 출력할 문장을 입력하세요 : ')

for x in word :
  print(x)

세로로 출력할 문장을 입력하세요 : 파이썬 머신 러닝
파
이
썬

머
신

러
닝

In [19]:
#2.4.4

sum = 0
for i in range(1, 51) :
  if i % 4 == 0 :
    print('%d' % i, end = ' ')
    sum += i
print('\n')
print('1~50에서 4의 배수의 합계 : %d' %sum)

4 8 12 16 20 24 28 32 36 40 44 48

1~50에서 4의 배수의 합계 : 312

In [11]:
#2.6.1
for i in range(2, 10):
  for j in range(1, 10):
    print(i*j, end = ' ')
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### while 문의 활용

In [12]:
#3.3.1

tree = 0
while tree < 10:
  tree += 1
  print('나무를 %d번 찍었습니다.' % tree)
  if tree ==10:
    print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [13]:
#3.3.2

sum = 0
i = 1
while i <= 10 :
  sum += i
  print('i의 값 : %d => 합계 :%d' % (i, sum))
  i += 1

i의 값 : 1 => 합계 :1
i의 값 : 2 => 합계 :3
i의 값 : 3 => 합계 :6
i의 값 : 4 => 합계 :10
i의 값 : 5 => 합계 :15
i의 값 : 6 => 합계 :21
i의 값 : 7 => 합계 :28
i의 값 : 8 => 합계 :36
i의 값 : 9 => 합계 :45
i의 값 : 10 => 합계 :55

In [14]:
i = 0
while True : 
  print(i)
  i += 1
  if i == 50:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

### 활용하기

### A 학급에 총 10명의 학생이 있다. 
### 이 학생들의 중간고사 점수는 다음과 같다.
### [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
### for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [17]:
student = [70, 60, 55, 75, 95, 90, 80, 85, 100]
sum = 0
i = 0

for student[i] in student :
  sum += student[i]
average = sum / 10

print('A학급의 평균 점수는 %.1f 입니다.' % average)

A학급의 평균 점수는 71.0 입니다.