<a href="https://colab.research.google.com/github/ypapay/CUK/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_2%EC%A3%BC%EC%B0%A8_210916.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 머신러닝 2주차
## 파이썬 기본 문법 맛보기

### 2.5 문자열 포매팅 : %d %f %.2f  %s {}'.format(name)

In [9]:
#코딩 2.5.1
temp_1 = 25
temp_2 = 2.32
seoul_temp = '서울의 기온은 %d도 입니다.' % temp_1
us_temp = '미국의 기온은 %.2f도 입니다.' % temp_2
print(seoul_temp)
print(us_temp)

서울의 기온은 25도 입니다.
미국의 기온은 2.32도 입니다.

In [27]:
## 추가 테스트
print('정수로 %d' % temp_2)
print('그대로 %f' % temp_2)
print('자리수조정 %.1f' % temp_2)

정수로 2
그대로 2.320000
자리수조정 2.3

In [10]:
#코딩 2.5.2
name = 'K대'
year = 20
student = 10000
a = '학교명 : {}'.format(name)
b = '역사 : {}년'.format(year)
c = '학생수 : {}명'.format(student)
print(a)
print(b)
print(c)

학교명 : K대
역사 : 20년
학생수 : 10000명

### 3.1 입력을 위한 함수 : input()

In [11]:
#코딩 3.1.1
name = input('이름 : ')
print('%s님 환영합니다.' % name)

이름 : 메롱
메롱님 환영합니다.

### 3.2 입력받은 수 다루기

In [15]:
#코딩 3.2.1
a = input('숫자 : ') # 예를 들어 10을 입력
b = input('숫자 : ') # 예를 들어 1을 입력
c = a + b
d = int(a) + 1 # 정수화
print(c) # 101
print(d) # 11

숫자 : 10
숫자 : 1
101
11

###3.3 실행결과 출력하기 : print()

In [17]:
#코딩 3.3.1
a = 'K대'
b = '20년'
print(a, b) # K대 20년

K대 20년

In [33]:
#코딩 3.3.2
x = '너' # + 기호로 연결할 때는 문자열이어야 함
y = 10
print('x = ' + str(x))
print('x = ' + x)
print('y = ' + str(y))
print('y = ' + y) #에러남
print(x + y) #에러남

x = 너
x = 너
y = 10

TypeError: ignored

In [29]:
#코딩 3.3.3
print('%s, %d, %.2f' % ("파이썬", 30, 40.01))
print('%s, %d, %.2f' % ("파이썬", 30.111, 40.01111))

파이썬, 30, 40.01
파이썬, 30, 40.01

In [38]:
#코딩 3.3.4
A = 2
B = 'B'
C = 1.4
print(A, B, C, sep = '/') #'/'는 출력되는 항목 사이에 들어갈 문자 열
print(A, B, C, sep = 'x')
print(A, B, C, sep = '.x.')
print(A, B, C, sep = ' ')
print(A, B, C, sep = ', ')

2/B/1.4
2xBx1.4
2.x.B.x.1.4
2 B 1.4
2, B, 1.4

### 활용하기
- 학생 이름 입력 받기
- 총 4과목의 성적 입려받기 (A, B, C, D)
- 성적의 총합 구하기
- 성적의 평균 구하기
- 이름, 각 과목의 성적, 총합, 평균 출력 구하기

In [41]:
#코딩 활용하기
name = input('이름? ')
A = input('A 성적? ')
B = input('B 성적? ')
C = input('C 성적? ')
D = input('D 성적? ')
sum = float(A) + float(B) + float(C) + float(D)
average = sum/4
print('%s, A는 %s 점, B는 %s 점, C는 %s 점, D는 %s 점' % (name, A, B, C, D))
print('총점은 %d 점, 평균은 %.1f 점' % (sum, average))

이름? 테디
A 성적? 95
B 성적? 70
C 성적? 88
D 성적? 56
테디, A는 95 점, B는 70 점, C는 88 점, D는 56 점
총점은 309 점, 평균은 77.2 점